<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% atividades.forEach(p => { %>
            <li><%= p.nome %> - <%= p.descricao %> - <%= p.faixa_etaria %></li>
        <% }); %>
    </ul>
</body>
</html>