<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/estilo.css">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Data de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            <% pagamentos.forEach(p => { %>
            <tr>
                <td><%= p.valor %></td>
                <td><%= p.data_pagamento %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>